html, body, #app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    list-style: none;
}

#sendButton {
    position:absolute;
    right: 20px;
    bottom: 16px;
}

.mod {
    display: none;
}

.mod-active {
    display: block;
}

.el-menu-item.is-active {
    background-color: #43474C !important;
}

/**
必须要有，保证对话框和头像在一行。
 */
* {
    box-sizing: border-box;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    opacity: 1;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    border-radius: 0;
    opacity: 1;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: #A2A2A2;
}